.news ul#other-files li,
.recent-results ul#results-list li,
.upcoming-events ul#startlists li {
    width: calc(33.33% - 20px);
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .news ul#other-files li,
    .recent-results ul#results-list li,
    .upcoming-events ul#startlists li {
        width: 100%; 
        margin-right: 0; 
    }
}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(0, 136, 169, 1);
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}

.main-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
}

.upcoming-events,
.recent-results,
.news {
    flex: 1 1 100%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .upcoming-events,
    .recent-results,
    .news {
        flex: 1 1 auto; 
    }
}

.upcoming-events h2,
.recent-results h2,
.news h2 {
    margin-bottom: 15px;
}

.upcoming-events ul,
.recent-results ul,
.news ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.news ul li,
.upcoming-events li,
.recent-results li {
    width: calc(33.33% - 20px); 
    background-color: #fff;
    color: #24252a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.past-news ul li {
    background-color: #fff;
    color: #24252a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.news ul li:hover,
.upcoming-events li:hover,
.recent-results li:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

@media (max-width: 768px) {
    .news ul li,
    .upcoming-events li,
    .recent-results li {
        width: 100%; 
        margin-right: 0; 
    }
}

.results-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.results-header h2 {
    margin: 0;
    flex: 1 1 100%;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #0088a9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1 1 auto;
}

.filter-btn:hover {
    background-color: #006f88;
}

@media (max-width: 600px) {
    .filter-btn {
        flex: 1 1 100%;
        margin-top: 5px;
    }
}
